# Files and folders to ignore

# Data
data/raw
data/processed
data/interim

# Jupyter
.ipynb_checkpoints/

# Python cache
__pychache__/
*.pyc

# Envs
.venv/
venv/
env/

# Models
models/
*.pkl
*.joblib
*.pt
*.pth
*.ckpt

# Hidden/system/editor files
.DS_Store
Thumbs.db
.vscode/
.idea/